<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easysport">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".DetallesRegistro"></activity>
        <activity android:name=".NuevoRegistro" />
        <activity android:name=".DetallesEjercicio" />
        <activity android:name=".ListadoEjercicios" />
        <activity android:name=".ListadoRegistros" />
        <activity android:name=".Menu" />
        <activity android:name=".Portada">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>